/* css reset */
*{
    margin: 0;
    padding: 0;
}

/* css variables */
:root{
    --navbar-height--:59px;
}

/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
#navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

/* Navigation bar:logo and image */
#logo{
    margin: 3px 20px;
}

#logo img{
    height: 56px;
    border: none;
    border-radius: 50%;
    margin: 3px 20px;
}

/* Navigation bar:list styling */

#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style-type: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding:0 22px ;
    text-decoration: none;
    border-radius: 20px;
}
#navbar ul li a:hover{
    background-color: white;
    color: black;
}

/* home section */

#home{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: 100%;
    min-height: 100%;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color:black;
    border-radius: 30px;
}
#home h1{
    padding: 30px 0 ;
}

#home::before{
    content:"";
    position: absolute;
    background:url("towing.jpeg") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7; 
}

#home p{
    text-align: center;
    font-size: 1.3rem;
    padding: 3px;
    font-family: "Bree Serif", serif;
}
#home button{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px 15px;
    border: 1px solid white;
    border-radius: 10px;
    background-color:white;
    transition: ease-in-out .4s;
    margin: 20px 0;
}
#home button:hover{
    background-color:black;
    color: white;

}

/* uttility classees */

#h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
